<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.10" targetFramework="net452" />
  <package id="ApprovalTests.BetterPdfVerification" version="1.3.0" targetFramework="net452" />
  <package id="ApprovalUtilities" version="3.0.10" targetFramework="net452" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.500.0" targetFramework="net452" />
  <package id="FluentAssertions" version="4.2.2" targetFramework="net452" />
  <package id="GhostScriptSharp" version="1.3.1.4" targetFramework="net452" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net452" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net452" />
</packages>